.timer-title {
  font-size: 120px;
  font-family: 'VT323', monospace;
  font-weight: 200;
  color: #91FF00;
}

.buttons-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-start-stop-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 60%;
}

.start-stop-buttons {
  background-color: #E00101;
  padding: 10px;
}

.section-add-time-buttons{
  display: flex;
  flex: 1 1 auto;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 50%;
}

.add-time-buttons {
  background-color: #5E5EE4;
  padding: 10px;
}

.sonic-gif {
  margin: 20px;
  height: 150px;
}